/* This is a comment in CSS */

html {
    font-size: 10px;
    font-family: "Open Sans";
    background-color: cadetblue;
}

body {
    width: 600px;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}

h1 {
    margin: 0;
    padding: 20px 0;
    font-size: 60px;
    text-align: center;
    text-shadow: 10px 10px 20px rgb(59, 98, 99);

}

p,
li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}

img {
    display: block;
    margin: 0 auto;
    width: 200px;
}
